################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/atp/FileContentIndex/74d0dff8-f62a-4eaf-9224-68d1b9d7881e.vsidx
/.vs/slnx.sqlite-journal
/.vs/atp/FileContentIndex/c53a1d12-959d-4baa-812a-8041eb200b93.vsidx
